<footer>
    <div class="f-info">
        <div class="f-info-social">

            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>


        </div>
        <div class="f-title" > &copy; Airbnb Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy">privacy</a>
            <a href="/condtion">Terms & Condtions</a>
            <a href="/policy">policy</a>

        </div>




    </div>
</footer>